body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: rgba(222, 206, 135);
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.back {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    pointer-events: none;
}

header {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 250px;
    padding: 0 20px;
}

header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(227, 238, 245);
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(67, 201, 156);
}

header p {
    margin: 5px 0 0 0;
    font-size: 0.85rem;
    color: #555;
}

.welcomeScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;

    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.welcomeScreen img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.start-check {
    display: none;
}

.btn-play {
    padding: 15px 50px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(221, 161, 10);
    border: 3px solid rgb(207, 154, 19);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-play:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

#start-game:checked~.welcomeScreen {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

