body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: rgba(222, 206, 135);
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.back {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    pointer-events: none;
}

header {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 250px;
    padding: 0 20px;
}

header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(227, 238, 245);
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(67, 201, 156);
}

header p {
    margin: 5px 0 0 0;
    font-size: 0.85rem;
    color: #555;
}

.welcomeScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;

    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.welcomeScreen img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.start-check {
    display: none;
}

.btn-play {
    padding: 15px 50px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(221, 161, 10);
    border: 3px solid rgb(207, 154, 19);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-play:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

#start-game:checked~.welcomeScreen {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    height: 80%;
    gap: 15px;
    z-index: 5;
    margin-top: 20px;
}

.cards1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex: 1;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class*="toggle-card"] {
    display: none;
}

/* card style */
.cards .flip-cards {
    flex: 1;
    max-width: 120px;
    aspect-ratio: 1 / 1;
    perspective: 1000px;
    cursor: pointer;

    opacity: 0;
    transform: scale(0);
    animation: cardPop cubic-bezier(0.5, 1.5, 0.5, 1) forwards,
    shuffleParams 2s infinite linear;

}

.cards1:nth-of-type(1) .flip-cards {
    animation-duration: 0.6s, 0.5s;
}

.cards1:nth-of-type(2) .flip-cards {
    animation-duration: 0.6s, 1.3s;
}

.cards1:nth-of-type(3) .flip-cards {
    animation-duration: 0.6s, 2.1s;
}

.cards1:nth-of-type(4) .flip-cards {
    animation-duration: 0.6s, 0.9s;
}


#start-game:checked~.cards .cards1 .flip-cards {
    animation-play-state: running, paused;
}


@keyframes cardPop {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* start cascading effect */
.cards1:nth-of-type(1) .flip-cards:nth-of-type(1) {
    animation-delay: 0.1s;
}

.cards1:nth-of-type(1) .flip-cards:nth-of-type(2) {
    animation-delay: 0.2s;
}

.cards1:nth-of-type(1) .flip-cards:nth-of-type(3) {
    animation-delay: 0.3s;
}

.cards1:nth-of-type(1) .flip-cards:nth-of-type(4) {
    animation-delay: 0.4s;
}

.cards1:nth-of-type(2) .flip-cards:nth-of-type(1) {
    animation-delay: 0.5s;
}

.cards1:nth-of-type(2) .flip-cards:nth-of-type(2) {
    animation-delay: 0.6s;
}

.cards1:nth-of-type(2) .flip-cards:nth-of-type(3) {
    animation-delay: 0.7s;
}

.cards1:nth-of-type(2) .flip-cards:nth-of-type(4) {
    animation-delay: 0.8s;
}

.cards1:nth-of-type(3) .flip-cards:nth-of-type(1) {
    animation-delay: 0.9s;
}

.cards1:nth-of-type(3) .flip-cards:nth-of-type(2) {
    animation-delay: 1.0s;
}

.cards1:nth-of-type(3) .flip-cards:nth-of-type(3) {
    animation-delay: 1.1s;
}

.cards1:nth-of-type(3) .flip-cards:nth-of-type(4) {
    animation-delay: 1.2s;
}

.cards1:nth-of-type(4) .flip-cards:nth-of-type(1) {
    animation-delay: 1.3s;
}

.cards1:nth-of-type(4) .flip-cards:nth-of-type(2) {
    animation-delay: 1.4s;
}

.cards1:nth-of-type(4) .flip-cards:nth-of-type(3) {
    animation-delay: 1.5s;
}

.cards1:nth-of-type(4) .flip-cards:nth-of-type(4) {
    animation-delay: 1.6s;
}

.cards1:nth-of-type(5) .flip-cards:nth-of-type(1) {
    animation-delay: 1.7s;
}

.cards1:nth-of-type(5) .flip-cards:nth-of-type(2) {
    animation-delay: 1.8s;
}

.cards1:nth-of-type(5) .flip-cards:nth-of-type(3) {
    animation-delay: 1.9s;
}

.cards1:nth-of-type(5) .flip-cards:nth-of-type(4) {
    animation-delay: 2s;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.flip-card-front img,
.flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.flip-card-back {
    transform: rotateY(180deg);
}

